<!--
    File:  _footer.html
    Author:  John Vanhessche
    Date:  10 September 2022
    Description:  _footer partial view
-->

<div class="footer-containter">
    <h3 class="footer-contactHeader">Contact Us</h3>
    <p ><a href="www.facebook.com">Join us on Facebook!</a></p>
    <p><a href="www.twitter.com">Join us on Twitter!</a></p>
    <p>Or call us at: (555)555-5555</p>
    <p>We have an A+ Better Business Rating!</p>
    <p>Copyright 2022 Pets-R-Us</p>
</div>    <!--closes the footer-container div-->

</body>   <!--closes body-->
</html>  <!--closes html-->