<!--
    File:  _header.html
    Author:  John Vanhessche
    Date:  10 September 2022
    Description:  _header partial view
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/site.css">    
    <title>Pets-R-Us</title>
</head>
<body>
    <div class="header-area">
        <h1 class="header-text">Welcome to Pet's-R-US</h1>
    </div>  <!--closes the header-area div-->

    <div class="navigation-area">
        <div class="navigation-bar">
            <ul>
                <div class="navigation-items">
                    <li><a href="./index.html"><div class="nav-text"><img class="nav-image" src="/images/home.png" alt="Home"/><h4>Home</h4></div></a></li>
                    <li><a href="./grooming.html"><div class="nav-text"><img class="nav-image" src="/images/dog being groomed.jpg" alt="picture of dog being groomed"/><h4>Grooming</h4></div></a></li>               
                    <li><a href="./training.html"><div class="nav-text"><img class="nav-image" src="/images/pet-training.jpg" alt="picture of dog running"/><h4>Training</h4></div></a></li>   
                    <li><a href="./boarding.html"><div class="nav-text"><img class="nav-image" src="/images/dog in house.png" alt="picture of in house"/><h4>Boarding</h4></div></a></li>
                    <li></li>
                    <li></li>
                </div>
            </ul>
        </div> <!--closes the navigation bar div-->
    </div>  <!--closes the navigation area div-->