<!--
    File:  _registration.html
    Author:  John Vanhessche
    Date:  10 September 2022
    Description:  _registration partial view
-->



<div class="registration-container">
    <div class="registration-area">
        <label class="registration-customerId">Please Enter your customer ID</label>
        <input type="text" class="registration-customerId-input">
        <br>
        <label class="registration-customerEmail" for="email">Please Enter your email</label>
        <input type="email" class="registration-customerEmail-input" name="email">
    </div>
</div>