<!--
Title:  boarding.html
Author:  John Vanhessche
Date 9/10/2022
Description:  boarding.html page for the pets-r-us app.
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/styles/site.css">
    <title>Boarding</title>
</head>
<body>
     <!--including the _header.html partial view here-->
     <header>
        <%- include("./partials/_header.html") %>
    </header> 

        <div class="card">
            <div class="card-title"></div>
            <div class="card-content">
                <ul>
                    <li>Overnight</li>
                    <li>Per Day</li>
                    <li>Per Hour</li>
                    <li>Custom Time</li>
                </ul>
            </div>

        </div>

    
        <footer>
            <%- include("./partials/_footer.html") %>
        </footer>
    </div>  <!--closes footer-area div-->    
</body>
</html>