<!--
Title:  customer-list.html
Author:  John Vanhessche
Date 9/25/2022
Description:  customer-list.html page for the pets-r-us app.
-->


<%- include('./partials/_header.html') -%>

<div class="card">
    <div class="card-content">            
            <table class="table">
                <tr>
                    <th>Customer ID</th>
                    <th>Customer Email</th>
                </tr>
                <tbody>
                <% customers.forEach(function(customer) { %>
                <tr>
                    <td>
                        <%= customer.name %>
                    </td>
                    <td>
                        <%= customer.email %> 
                    </td>                  
                </tr>
            </tbody>
            <% }) %>
              
            </table>
                      
        </div>
 
</div>

<%- include('.partials/_footer.html') -%>

