<!--
Title:  grooming.html
Author:  John Vanhessche
Date 9/4/2022
Description:  grooming.html page for the pets-r-us app.
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/styles/site.css">
    <title>Grooming</title>
</head>
<body>
    <div class="header-area">
        <h1 class="header-text">Grooming</h1>
    </div>
    <div class="navigation-area">
        <div class="navigation-bar">
            <ul>
                <!--More pages to follow.  just the two defined so far-->
                <div class="navigation-items">
                    <li><a href="./index.html"><div class="nav-text"><img class="nav-image" src="../public/images/home.png" alt="Home"/><h4>Home</h4></div></a></li>               
                    <li><a href=""><div class="nav-text"><img class="nav-image" src="../public/images/pet-training.jpg" alt="picture of dog running"/><h4>Training</h4></div></a></li>   
                    <li></li>
                    <li></li>
                    <li></li>
                </div>
            </ul>
        </div>
    </div>                  
    <div class="footer-area">
        <p>Grooming services are provided for all types of pets.  If it has fur we can cut it.  We can even groom hairless pets.  The sky's the limit</p>
        <p>Please set up a grooming consultation today with one our friendly pet staff</p>
        <p>Our furry (and non-furry) friends are ALWAYS welcome.</p>

    </div> 
    
</body>
</html>