<!--
Title:  index.html
Author:  John Vanhessche
Date 9/4/2022
Description:  index.html page for the pets-r-us app.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/styles/site.css">    
    <title>Pets-R-Us</title>
</head>
<body> 
    <!--Just a quick div for the header and nav bar.  None of this is very fancy at the moment.  Concentration on function first.-->
    <div class="header-area">
        <h1 class="header-text">Welcome to Pet's-R-US</h1>
    </div>
    <div class="navigation-area">
        <div class="navigation-bar">
            <ul>
                <div class="navigation-items">
                    <li><a href="./grooming.html"><div class="nav-text"><img class="nav-image" src="../public/images/dog being groomed.jpg" alt="picture of dog being groomed"/><h4>Grooming</h4></div></a></li>               
                    <li><a href=""><div class="nav-text"><img class="nav-image" src="../public/images/pet-training.jpg" alt="picture of dog running"/><h4>Training</h4></div></a></li>   
                    <li></li>
                    <li></li>
                    <li></li>
                </div>
            </ul>
        </div>
    </div>                  
    <div class="footer-area">
        <p>Pet's R Us is full service pet store, for your one-stop, all pet needs!  We offer grooming and training services.  We sell a wide range of pet products.</p>
        <p>Stop in and say hi to our friendly staff!</p>
        <p>Our furry friends are ALWAYS welcome.</p>

    </div> 
</body>
</html>