<!--
    File:  registration.html
    Author:  John Vanhessche
    Date:  18 September 2022
    Description:  registration view
-->


<!--header area, contains HTML-->
<%- include('partials/_header.html') -%>
<div class="card">
    <div class="card-content">
        <div class="form">
            <form action="/registration" method="post">
                <div class="form-field">
                    <label for="customerId">Please Enter your customer ID</label>
                    <br>
                    <input type="text" class="input" name="customerId" id="customerId">
                    <br>
                    <label for="email">Please Enter your email</label>
                    <br>
                    <input type="text" class="input" name="email" id="email" required>
                </div>
                <div>
                <input type="submit" value="Submit" class="btn btn-primary full-width"></input>
                </div>
            </form>    
        </div>
    </div>
</div>
<!--footer area, includes end of html-->
<%- include('partials/_footer.html') -%>